/* Import the utilities */
@import "utilities.scss";

/* Import the color scheme */
@import "color-scheme.scss";



body {
    background-color: $white;
    background-image: url(../img/background/background-pattern.png);
}

/*
 *	Header
 */

#header-section {
    @include prefix(box-shadow, 0 0 7px #333);
    background-color: $white;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

#main-menu {
    margin-left: 0;
    list-style: none;

    li {
        float: left;

        a {
        	display: inline-block;
            padding: 10px 15px;

            &:hover {

            }
        }
    }
}

/*
 *	Content
 */

#content {
    background-color: $white;
    margin-top: 40px; /* 40px is the height of the header section */    
    @include prefix(box-shadow, 0 0 7px #333);
    min-height: 550px;
    padding: 25px 0;
}

/*
 *	Footer
 */

#footer-section {
    position: relative;
    z-index: 1;
    padding: 25px 0;
}

/* Import the page specific css files */
@import "page.trips.scss";
@import "page.chat.scss";


/*
 *	Other
 */
#map_canvas {
	width: 100%;
	height: 450px;
	@include prefix(box-shadow, 0 0 7px #333);
}

#map_error {
	display: none;
}

td.text-center {
    text-align: center;
}