/* Import the utilities */
@import "utilities.scss";

/* Import the color scheme */
@import "color-scheme.scss";

/*
 *	Header
 */

#header-section {

}

#main-menu {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;

    li {
        float: left;

        a {
        	display: inline-block;
        }
    }
}

/*
 *	Content
 */

/*
 *	Footer
 */

#footer-section {

}

/* Import the page specific css files */
@import "page.trips.scss";


/*
 *	Other
 */
#map_canvas {
	width: 100%;
	height: 450px;
	@include prefix(box-shadow, 0 0 7px #333);
}

#map_error {
	display: none;
}