<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="be.kdg.android"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light"
                 android:installLocation="preferExternal">
        <activity android:name=".activities.MainActivity"
                  android:label="@string/trips_name"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
                  android:noHistory="true"
                  android:excludeFromRecents="true"/>

        <activity android:name=".activities.TripActivity"
                  android:parentActivityName=".activities.MainActivity"/>
    </application>

</manifest>

